// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

#text{
display:none;
}
#toggle:hover{
  color:skyblue;
}
.btn-prime{
  color:white;
  background-color: #302F98;
  margin-top: 10px;
  font-weight:bold;
  text-transform: uppercase;
  border: 1px solid #302F98;
}
.btn-prime:hover{
  color:white;
}
.bg-prime{
  background-color:#2E3391;
}
.sectionHeader-h2{
  font-size:50px;text-transform:uppercase;font-weight:bold;font-family:'Times New Roman', Times, serif;
}

.sectionHeader-h3{
  text-transform:capitalize;
  font-weight: bold;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

// Navigation
#mainNav{
  background-color:rgb(255,255,255)
}

nav img{
    width:60%;
}
.mainNavLink a{
    color:black !important;
    font-size:20px;
    font-weight: bold;
    text-transform: capitalize;
    
}
@media only screen and (min-width: 200px) and (max-width:507px){
    .navbar-brand{
      width: 75%;
    }

}


.carousel-item {
  height: 110vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.carousel-caption{
  top: 40%;
}
.carousel-caption p{
  line-height: 28px;
}

.line-1{
  color:whitesmoke;
  text-shadow:2px 2px 2px black;
  font-weight:bold;
  font-size: 6em;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  background-color: rgba(0,0,0,0.5);
}

.card{
  width: 13rem; box-shadow:3px 3px 5px;
}
.card h4 {
  padding: 0 2%;
}


@media only screen and (min-width: 200px) and (max-width: 500px){
  .carousel-item{
    height: 50vh !important;
  }
}

@media only screen and (min-width: 200px) and (max-width:767px){
  .carousel-caption{
    display: block !important;
    top:25% !important;
  }
  .carousel-caption h1{
    font-size: 35px !important;
  }
}

// Product

@media only screen and  (min-width: 200px) and (max-width:500px){
  .sectionHeader-h2{
    font-size: 25px !important;
  }
}

// Career
@media only screen and (min-width: 200px) and (max-width:767px){
  #CareerDesign{
    display: none;
  }
  #CareerCont{
    margin: 0px !important;
    padding: 0px !important;
  }
  
}

// Footer
#footer p{
  font-size: 12px;
  font-weight: 600;
}

@media only screen and (min-width: 200px) and (max-width:507px){
    .contactFormDesign{
      padding: 20px 0px 10px !important;
      border-left:none !important;
      border-top: solid 1px gray
    }
    
}

#exhibitMain img{
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  display: block;
}

#exhibitSub{
  margin-top: 5%;
  margin-bottom: 10%;
}

#exhibitSub img{
  width: 75%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 200px) and (max-width:507px){
  #exhibitSub{
    margin: 10px 0 !important;
    padding: 10px 5px;
  }
  #exhibitSub img{
    padding: 0 !important;
  }
  #exhibitMain img{
    padding: 0 !important;
    width: 100%;
    
    height: 35vh !important;
  }
  #exhibitMain{
    padding: 3% !important;
  }

}


textarea{
  resize:none;
}

// Google Map Embed
.mapouter{position:relative;text-align:right;height:100%;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}


// Services CSS

.servicesDesign img{
  min-height: 100px;
  max-height: 100px;
}
.serviceModal img{
  max-height: 75vh;
  min-height: 75vh;
}

@media screen and (min-width: 200px) and (max-width:507px){
  .servicesDesign img{
    min-height: 25vh;
    max-height: 25vh;
  }
  .serviceModal img{
    max-height: 50vh;
    min-height: 50vh;
  }
}


.slick-prev:before,.slick-next:before{
  color:blue !important;
}

.slick-arrow{
  color:yellow !important;
}

.modal{
  background-color: rgba(0,0,0,0.8);
}